<!doctype html>
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/"/>
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
</head>
  <body ng-app="angularPassportApp">

    <!-- Add your site or application content here -->
    <div ng-include="" src="'partials/navbar.html'"></div>
    <div class="container" ng-view=""></div>


    <script src="bower_components/angular/angular.js"></script>

         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <!-- build:js(app) scripts/modules.js -->
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="bower_components/angular-http-auth/src/http-auth-interceptor.js"></script>
        <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
        <!-- endbuild -->


        <!-- Controllers -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/navbar.js"></script>
        <script src="scripts/controllers/signup.js"></script>
        <script src="scripts/controllers/blogs.js"></script>
        <script src="scripts/controllers/playnow.js"></script>
        <script src="scripts/controllers/guide.js"></script>
        <script src="scripts/controllers/contactus.js"></script>

        <!-- Directives and Services -->
        <script src="scripts/directives/uniqueUsername.js"></script>
        <script src="scripts/services/Auth.js"></script>
        <script src="scripts/services/User.js"></script>
        <script src="scripts/directives/onFocus.js"></script>
        <script src="scripts/directives/mongooseError.js"></script>
        <script src="scripts/services/Session.js"></script>
        <script src="scripts/services/Blogs.js"></script>
        <script src="scripts/services/Games.js"></script>
        <!-- endbuild -->
</body>
</html>
